html, body {
  background: white;
  color: white;
  font-family: sans-serif;
  text-align: center;
}

h1 {
  text-transform: uppercase;
}

img {
  margin: 10px;
}

.term {
  background: white;
  color: black;
  padding: 5px;
}
